<section id="stats" class="s-stats">
    <div class="row stats block-1-4 block-m-1-2 block-mob-full" data-aos="fade-up">
        <div class="col-block stats__col ">
            <div class="stats__count">129</div>
            <h5>Awards Received</h5>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">1507</div>
            <h5>Cups of Coffee</h5>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">108</div>
            <h5>Projects Completed</h5>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">103</div>
            <h5>Happy Clients</h5>
        </div>
    </div>
</section>

<section id="contact" class="s-contact">
    <div class="row section-header" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead subhead--light">Contact Us</h3>
            <h1 class="display-1 display-1--light">Get in touch and let's make something great together. Let's turn your
                idea on an even greater product.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-full contact-main" data-aos="fade-up">
            <p>
                <a href="/cdn-cgi/l/email-protection#507360" class="contact-email"><span class="__cf_email__"
                        data-cfemail="c4aca1a8a8ab84b0b6a5aab7a7a1aaa0e9b7b0b1a0adabeaa7aba9">[email&#160;protected]</span></a>
                <span class="contact-number">+1 (917) 123 456 / +1 (917) 333 987</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-five tab-full contact-secondary" data-aos="fade-up">
            <h3 class="subhead subhead--light">Where To Find Us</h3>
            <p class="contact-address">
                1600 Amphitheatre Parkway<br>
                Mountain View, CA<br>
                94043 US
            </p>
        </div>
        <div class="col-five tab-full contact-secondary" data-aos="fade-up">
            <h3 class="subhead subhead--light">Follow Us</h3>
            <ul class="contact-social">
                <li>
                    <a href="#0"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fab fa-behance"></i></a>
                </li>
                <li>
                    <a href="#0"><i class="fab fa-dribbble"></i></a>
                </li>
            </ul>
            <div class="contact-subscribe">
                <form id="mc-form" class="group mc-form" novalidate="true">
                    <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address"
                        required="">
                    <input type="submit" name="subscribe" value="Subscribe">
                    <label for="mc-email" class="subscribe-message"></label>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-full cl-copyright">
            <span>
                Copyright &copy;
                <script data-cfasync="false"
                    src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
                with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                    target="_blank">Colorlib</a>
            </span>
        </div>
    </div>
    <div class="cl-go-top">
        <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
    </div>
</section>

<div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div><button class="pswp__button pswp__button--close"
                    title="Close (Esc)"></button> <button class="pswp__button pswp__button--share"
                    title="Share"></button> <button class="pswp__button pswp__button--fs"
                    title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom"
                    title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button
                class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

<div id="preloader">
    <div id="loader">
    </div>
</div>